{{ ansible_managed | comment }}

[Unit]
Description=PostgreSQL {{ postgresql_version }} database server
Documentation=man:postgres(1)

[Service]
Type=notify
User={{ postgresql_user }}
Group={{ postgresql_group }}
ExecStart={{ postgresql_postgres_command }} -D {{ postgresql_datadir }}
ExecReload=/bin/kill -HUP $MAINPID
KillMode=mixed
KillSignal=SIGINT
TimeoutSec=0

[Install]
WantedBy=multi-user.target
